
{{!-- {{#each beers}} --}}
<div>
    <ul>
    {{#each beersFromApi}}
    <img src="{{this.image}}" alt="beer">
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    {{/each}} 
    </ul>
</div>


